.bars-icon {
  color: white !important;
}
.bars-icon:hover {
  color: rgb(207, 207, 207) !important;
}

.slider-menu-icon,
.burger-menu-icon,
.layer2-burger-icon {
  cursor: pointer;
}

.layer2-burger-nav-icons span {
  margin: 0.5vh;
  border-radius: 50px;
  padding: 2px 10px;
  background: white;
}
.layer2-burger-nav-icons span:hover {
  background: #e2dddd;
}
.layer2-burger-icon svg {
  width: 14px;
  height: 14px;
  color: #0476d0 !important;
}
.burger-nav-divider {
  width: 205px;
  margin-bottom: 2vh;
  border-bottom: 1px solid #0476d0;
}
.burger-nav-icons {
  display: flex;
}
.burger-icon {
  stroke-width: 3px;
}
.x-icon {
  left: 25px;
  top: 30px;
  color: white !important;
  position: absolute;
  stroke-width: 180px;
}
.x-shoppingcart {
  top: 15px;
  stroke-width: 180px;
}
.burger-menu-x-icon {
  top: 10px;
  right: 25px;
}
.x-icon:hover {
  cursor: pointer;
  color: #e2dddd !important;
}
.slider-menu,
.burger-menu {
  line-height: normal;
  background-color: #aa2f2f;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  position: fixed;
  top: -101%;
  left: 0;
  transition: 850ms;
}
/* .burger-menu {
  z-index: 99;
} */
.slider-shoppingcart {
  line-height: normal;
  background-color: #f1f0f0;
  width: 33%;
  z-index: 100;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.slider-shoppingcart.opened {
  left: 0;
  transition: 350ms;
  display: flex;
  justify-content: center;
}

.slider-menu.active,
.burger-menu.active {
  top: 0;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu.active {
  flex-direction: column;
}
.slider-menu-content,
.burger-menu-content {
  width: 100%;
}

.cart-sidebar-header {
  width: 100%;
  position: relative;
  background: #0476d0;
  height: 5vh;
}
