.nav-bar {
  background: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  /* position: fixed; */
  margin: 0 auto;
  vertical-align: middle;
  z-index: 100;
  width: 100%;
}
.nav-bar-links,
.burger-nav-links {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.burger-nav-links {
  flex-direction: column;
}
.nav-bar-links a,
.burger-nav-links a,
.drop-down-more span,
.dropdown-content {
  padding: 7px 7px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 20px;
  min-width: 95px;
  border-radius: 14px;
}
.nav-bar-links a {
  margin-right: 0.5vw;
}
.dropdown-content {
  border-radius: unset;
}

.nav-bar-links a:hover,
.drop-down-more:hover span,
.active-link {
  cursor: pointer;
  background: #0476d0;
}

.drop-down-more:hover {
  cursor: pointer;
}
.nav-bar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.nav-bar-icons svg {
  width: 35px;
}
.displayed-item {
  display: block;
}
.removed-item {
  display: none;
}
.drop-down-more {
  display: none;
  margin: auto 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  color: white !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px 0px 16px;
  z-index: 1000;
}

.drop-down-more:hover .dropdown-content {
  display: block;
}
#contact,
#store,
#preview,
#writers,
#video {
  display: none;
  color: white;
  text-decoration: unset;
  text-align: right;
  margin: 0vh 0.5vw 2vh 1vw;
}
#contact:hover,
#store:hover,
#preview:hover,
#writers:hover,
#video:hover,
.dropmenu-active-link,
.active-burger-link,
.burger-nav-links a:hover {
  color: #0476d0 !important;
}
.burger-menu-component {
  display: none;
}

@media screen and (max-width: 1285px) {
  .nav-bar-links a:last-child {
    display: none;
  }
  .drop-down-more {
    display: block;
  }
  #contact {
    display: block;
  }
}
@media screen and (max-width: 1190px) {
  .nav-bar-links a:nth-child(7) {
    display: none;
  }
  #store {
    display: block;
  }
}
@media screen and (max-width: 1095px) {
  .nav-bar-links a:nth-child(6) {
    display: none;
  }
  #preview {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .nav-bar-links a:nth-child(5) {
    display: none;
  }
  #video {
    display: block;
  }
}
@media screen and (max-width: 905px) {
  .nav-bar-links a:nth-child(4) {
    display: none;
  }
  #writers {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar-links,
  .drop-down-more,
  .nav-bar-icons {
    display: none;
  }
  .nav-bar {
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu-component {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
  }
}
