.nav-bar {
  background: black;
  height: 10vh;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100vw;
}
.nav-bar-links {
  margin-right: 2.5%;
  width: 78vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.nav-bar-links a {
  padding: 0.6%;
  align-self: center;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 10vw;
  /* height: 8vh; */
  border-radius: 14px;
}
.nav-bar-links a:hover {
  background: #0476d0;
}
.nav-bar-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 0;
  width: 15vw;
}
.nav-bar-icons span {
  cursor: pointer;
  color: white;
  /* margin-right: 2%; */
}
